{
  "branches": [
    "main",
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["@semantic-release/github", {
      "assets": [
        {"path": "batcher.zip", "label": "Dependabot Batcher distribution"},
      ]
    }],
  ],
  "preset": "conventionalcommits"
}
